.card {
    padding: 1em;
    flex: 1;
    height: 100%;
    flex-direction: column;
}

.card-title {
    font-weight: bold;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* This ensures the content is spaced out */
}

.card-text {
    align-self: start;
    /* Aligns the text to the top */
}

.col-md-4 {
    display: flex;
    flex: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* +++ individual products +++ */
/* General styling for the product page container */
.product-page-container {
    padding-left: 8em;
    padding-right: 8em;
}

/* Styling for h1 elements with the 'h1-product-page' class */
.h1-product-page {
    color: #333;
    font-size: 2.5em;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 2em;

}

.h2-product-page {
    color: #333;
    font-size: 1.5em;
    text-align: left;
    padding-top: 2em;
    padding-bottom: 1em;
    margin: 0em;

}

/* Styling for h3 elements with the 'h3-product-page' class */
.h3-product-page {
    font-size: 2em;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0em;
}

.h4-product-page {
    font-size: 1em;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0em;
}

/* Styling for p elements with the 'p-product-page' class */
.p-product-page {
    color: #666;
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    margin: 0em;
}



.nutshell {
    background-color: lightgray;
    padding-top: 1em;
    border-radius: 2em;
    padding-left: 2em;
    padding-right: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.table-span {
    display: flex;
    /* Make .nutshell a flex container */
    justify-content: center;
    padding: 1em;
}

.product-table {
    align-self: right;
    border-collapse: collapse;
}

.product-table td,
.product-table th {
    text-align: center;
    padding: 0.3em;
    padding-left: 3em;
    padding-right: 2em;
    border: 1px solid black;
}