.navbar {
    width: 100%;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.nav-item:not(:last-child) {
    margin-right: 1.875em;
}

/* css for all containers */
.my-products-container,
.how-i-work-container {
    padding: 2.25em 6.25em;
}

/* +++ custom header +++ */
.custom-header-container {
    margin-top: 6.25em;
    margin-left: 6.25em;
    margin-right: 6.25em;

}

.custom-header-container h1 {
    margin-bottom: 1.5em;
}

.custom-header-container h4 {
    margin-bottom: 6.5em;

}


/* +++ my products +++ */
.my-products-container {
    background-color: lightgray;
}