.navbar {
    width: 100%;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.nav-item:not(:last-child) {
    margin-right: 1.875em;
}

/* css for all containers */
.my-products-container,
.how-i-work-container {
    padding: 2.25em 6.25em;
}

/* +++ custom header +++ */
.custom-header-container {
    margin-top: 6.25em;
    margin-left: 6.25em;
    margin-right: 6.25em;

}

.custom-header-container h1 {
    margin-top: 3.5em;
    margin-bottom: 3em;
}

.custom-header-container h4 {
    margin-bottom: 6.5em;
}

.custom-header-container p {
    margin-bottom: 3.5em;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* +++ my products +++ */
.my-products-container {
    background-color: lightgray;
}

.card {
    padding: 10px;
}

.card-title {
    font-weight: bold;
}

/* +++ individual products +++ */
/* General styling for the product page container */
.product-page-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

/* Styling for h1 elements with the 'h1-product-page' class */
.h1-product-page {
    color: #333;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

/* Styling for h3 elements with the 'h3-product-page' class */
.h3-product-page {
    color: #555;
    font-size: 1.75em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

/* Styling for p elements with the 'p-product-page' class */
.p-product-page {
    color: #666;
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1em;
}

/* Responsive tweaks for smaller screens */
@media (max-width: 768px) {
    .h1-product-page {
        font-size: 2em;
    }

    .h3-product-page {
        font-size: 1.5em;
    }

    .product-page-container {
        padding: 10px;
    }
}

/* You might want to add additional styles or responsive tweaks as necessary. */