html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding-left: 24em;
    padding-right: 24em;
}

p {
    padding-top: 0em;
    padding-bottom: 0em;

}

h1 {
    font-size: 2.75em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.navbar {
    width: 100%;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.nav-item:not(:last-child) {
    margin-right: 1.875em;
}



/* css for all containers */
.my-products-container,
.about-me-container,
.contact-container {
    padding: 2.25em 6.25em;
}

/* +++ custom header +++ */
.hero-container {
    background-color: lightgray;
    padding-top: 12em;
    padding-bottom: 12em;
    padding-left: 3.25em;
    padding-right: 3.25em;
}

.hero-container h1 {
    margin-top: 0.5em;
    font-size: 4.75em;
    font-weight: normal;
}

.blurp {
    background-color: rgb(233, 233, 233);
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 3.25em;
    padding-right: 3.25em;
}

/* +++ my products +++ */
.my-products-container {
    background-color: lightgray;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 3.25em;
    padding-right: 3.25em;
}

.product-section {
    background-color: lightgray;
}

.about-me-container {
    background-color: rgb(233, 233, 233);
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 3.25em;
    padding-right: 3.25em;
}

.contact-container {
    background-color: lightgray;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 3.25em;
    padding-right: 3.25em;
}

.yt-player {
    width: 90%;
    height: 30em;
    padding-top: 1em;
    padding-bottom: 4em;
}

.contact-img {
    display: inline-block;
    /* Makes the div inline */
    vertical-align: middle;
    /* Aligns the image vertically with the text */
}

.contact-img img {
    width: 2em;
    /* Adjust this value as needed to make it bigger than your text */
    height: auto;
    /* Maintains the aspect ratio */
}

.large-emoji {
    font-size: 2em;
    /* Adjust the size as needed */
}

.slide-title {
    background-color: rgba(71, 71, 71, 0.5);
    padding: 5px;
    display: inline-block;
    font-weight: 700;
}

.slide-text {

    background-color: rgba(71, 71, 71, 0.5);
    padding: 5px;
    display: inline-block;


}

@media (max-width: 1500px) {
    body {
        padding-left: 0em;
        padding-right: 0em;
    }

    .my-products-container {
        background-color: lightgray;
        padding-left: 2em;
        padding-right: 2em;
    }

    .product-page-container {
        padding-left: 8em;
        padding-right: 8em;
    }
}

/* Responsive tweaks for smaller screens */
@media (max-width: 768px) {
    .h1-product-page {
        font-size: 2em;
    }

    .h3-product-page {
        font-size: 1.5em;
    }

    .product-page-container {
        padding: 10px;
    }

    body {
        padding-left: 0em;
        padding-right: 0em;
    }

    .my-products-container {
        background-color: lightgray;
        padding-left: 2em;
        padding-right: 2em;
    }

    .product-page-container {
        padding-left: 2em;
        padding-right: 2em;
    }
}



/* You might want to add additional styles or responsive tweaks as necessary. */